<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="/css/pure.css">
  <style>
    a {
      display: inline-block;
      padding: 5px 15px;
      text-decoration: none;
      color: black;
      font-size: 18px;
      border: 1px solid black;
    }
    form {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<h1>Hello</h1>
<a href="/user">user</a>
<a href="/auth">authorize</a>

<form class="pure-form pure-form-aligned" method="post" action="/oauth/check_token">
  <input type="text" name="token" placeholder="access token">
  <button class="pure-button check-token" type="submit">Check Token</button>
</form>


<form class="pure-form pure-form-aligned get-res" method="post" action="http://127.0.0.1:8001/res/r1">
  <input class="token" type="text" name="authorization" placeholder="Bearer ${token}">
  <button class="pure-button btn" type="button">访问资源</button>
</form>

<script>
  document.querySelector(".get-res").onsubmit = () => false;

  const btn = document.querySelector(".btn");
  const token = document.querySelector(".token");
  btn.onclick = getResource;

  function getResource(token) {
    const xhr = new XMLHttpRequest();
    xhr.open("post", "http://127.0.0.1:8001/res/r1");
    xhr.withCredentials = false;
    xhr.setRequestHeader("Authorization",`Bearer ${token}`);
    xhr.send();

    xhr.onreadystatechange = () => {
      if(xhr.readyState===4 && (xhr.status===200 || xhr.status===304)) {
        alert(`Success: ${xhr.status}`);
        console.log(xhr.responseText)
      }
    };
    xhr.onerror = (err) => {
      alert(`Error: ${xhr.status}`);
      console.error(err)
    }
  }
</script>
</body>
</html>