<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Token</title>
  <link rel="stylesheet" href="/css/pure.css">
  <script src="/js/vue.js"></script>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .tips {
      font-size: 18px;
      color: #b94a48;
      margin: 0 0 10px 0;
      padding: 5px 25px;
      border: 1px solid #b94a48;
      border-radius: 10px;
    }
  </style>
</head>
<body>
<h1>Token</h1>

<div class="tips" th:if="${error}" th:text="${error}"></div>
<div class="tips" th:if="${error_description}" th:text="${error_description}"></div>

<form id="v-form" th:if="${access_token == null && token_type == null}" class="pure-form pure-form-stacked" method="post" action="/oauth/token">
  <div class="pure-control-group">
    <label>client_id
      <input type="text" name="client_id" placeholder="client_id" required autofocus value="c1">
    </label>
  </div>

  <div class="pure-control-group">
    <label>client_secret
      <input type="text" name="client_secret" placeholder="client_secret" required value="secret">
    </label>
  </div>

  <div class="pure-control-group">
    <label>grant_type
<!--      <input type="text" name="grant_type" placeholder="grant_type" required value="authorization_code">-->
      <select name="grant_type" v-model="grantType">
        <option value="authorization_code" selected>授权码模式</option>
        <option value="password">密码模式</option>
        <option value="client_credentials">客户端模式</option>
      </select>
    </label>
  </div>

  <div class="pure-control-group" v-if="grantType === 'authorization_code'">
    <label>code
      <input type="text" name="code" placeholder="code" required th:value="${code!=null?code:''}">
    </label>
  </div>

  <div class="pure-control-group" v-if="grantType === 'password'">
    <label>username
      <input type="text" name="username" placeholder="username" required>
    </label>
  </div>

  <div class="pure-control-group" v-if="grantType === 'password'">
    <label>password
      <input type="password" name="password" placeholder="password" required>
    </label>
  </div>

  <div class="pure-controls">
    <button class="pure-button pure-button-primary" type="submit">获取令牌</button>
  </div>
</form>

<form th:unless="${access_token == null && token_type == null}">
  <label>access_token
    <input type="text" th:value="${access_token}">
  </label>

  <label>token_type
    <input type="text" th:value="${token_type}">
  </label>

  <label>expires_in
    <input type="text" th:value="${expires_in}">
  </label>
  
  <label>scope
    <input type="text" th:value="${scope}">
  </label>
</form>

<script>
  const form = new Vue({
    el: "#v-form",
    data: {
      grantType: "authorization_code",
    }
  })
</script>
</body>
</html>